.recent-reviews {
  padding: 4px;
  margin: 8px 0;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
}
.format-table thead {
  font-weight: bold;
}

.format-table td {
  padding: 4px !important;
  border: 1px solid darkblue;
}
